---
apiVersion: v1
data:
  password: {{ WLS_ADMIN_USER | b64encode }}
  username: {{ WLS_ADMIN_PASSWORD | b64encode }}
kind: Secret
metadata:
  labels:
    weblogic.domainName: {{ DOMAIN_NAME }}
    weblogic.domainUID: {{ DOMAIN_UID }}
  name: {{ DOMAIN_NAME }}-weblogic-credentials
  namespace: {{ DOMAIN_NAMESPACE }}
type: Opaque
